header {
  position: static;
}

#saveData {
  border-radius: 5px;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#getData {
  border-radius: 5px;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#loginGit {
  border-radius: 5px;
  background-color:rgb(0, 0, 0);
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#loginGoogle {
  border-radius: 5px;
  background-color:rgb(0, 0, 0);
  margin-top: 2rem;
  margin-right: 1.5rem;
  font-size: 12px;
}

#logOut {
  border-radius: 5px;
  background-color:rgb(0, 0, 0);
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

.delete {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: rgb(210, 15, 15);
  color: white;
  opacity: 95%;
}

.delete:hover {
  background-color: rgb(230, 7, 5);
  color: white;
}
