header {
  position: relative;
}

.icons {
  display: block;
  transform: scale(0.4);
  margin-left: 3vw;
}
.icons:hover {
  transition: all .2s ease-in-out;
  transform: scale(0.5);
}

#saveData {
  border-radius: 5px;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#getData {
  border-radius: 5px;
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#loginGithub {
  border-radius: 5px;
  background-color:rgb(0, 0, 0);
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#loginGoogle {
  border-radius: 5px;
  background-color:rgb(0, 0, 0);
  margin-top: 2rem;
  margin-right: 1.5rem;
  font-size: 12px;
}

#logOut {
  border-radius: 5px;
  background-color:rgb(0, 0, 0);
  margin-top: 2rem;
  margin-right: 2rem;
  font-size: 12px;
}

#delete {
  width: 35px;
  height: 35px;
  float: right;
  background-color: #ff5452;
  color: #fff;
  font-family: 'Zen Dots', cursive;
  font-size: 14px;
  line-height: 35px;
  font-weight: lighter !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: 6rem;
  padding: 0;
  opacity: 0.95;
}

#delete:hover {
  background-color: rgb(200, 65, 65);
  color: white;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

@media (min-width: 400px) and (max-width: 992px) {
  header { text-size-adjust: none; -moz-text-size-adjust:none; -webkit-text-size-adjust: none; }
  h1 { font-size: 3.0rem; margin-top: 2%; }
  p { font-size: 16px; margin-bottom: 0; }
  th { font-size: 24px; padding-right: 8vw; }
  select { min-width: 15vw; }
  input[type = submit] { margin: 0; font-size: 12px; max-height: 3rem; width: auto; line-height: 3rem; }
  #submitBook { margin-left: 15px; margin-bottom: 5px; }
  #delete { margin-left: 10vw; }
  td { font-size: 16px; }
}